@import './variables';
.common-container {
  padding: 96px 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $mobile-width) {
    padding: 16px 12px;
  }
}
