@import '../styles/common';
.container {
  @extend .common-container;

  .title > span {
    margin-bottom: 70px;
  }
  .title {
    & + hr {
      margin-bottom: 124px;
    }
  }

  > hr {
    color: black;
    height: 1px;
    width: 50%;
  }

  > hr:last-child {
    margin-top: 112px;
  }
}
