@import 'styles/variables';
.label {
  display: flex;
  align-items: center;
  column-gap: 22px;
  font-family: var(--font-cormorant), serif;
  cursor: pointer;
  > input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  > .checkbox {
    display: inline-flex; // set to `inline-block` as `inline elements ignore `height` and `width`
    height: 24px;
    width: 24px;
    background: #fff;
    border: 1px $char-coal solid;
    border-radius: 4px;
    > svg {
      transform: scale(0);
      transition: all 0.1s;
    }
    &.active {
      background: $pink-kisses;
      border-color: $pink-kisses;
      > svg {
        transform: scale(1);
      }
    }
  }
}
