.container {
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
  .cytate {
    font-size: 36px;
    font-weight: 700;
    align-self: flex-start;
    margin-top: -100px;
    margin-bottom: -100px;
  }
}
