@import 'src/styles/variables';
.container {
  padding: 96px 284px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > hr {
    color: black;
    height: 1px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .info {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
    .email {
      text-decoration: underline;
      color: $pink-kisses;
    }
  }
  .contactForm {
    width: 100%;
    display: grid;
    grid-template-areas:
      'firstName lastName'
      'email phoneNumber'
      'message message'
      'message message'
      'submit submit';
    grid-column-gap: 24px;
    grid-row-gap: 74px;

    input,
    textarea {
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 20px 24px;
      font-size: 14px;
      font-weight: 400;
      font-family: var(--font-vormorant);
      resize: none;
    }
    button {
      background: $pink-kisses;
      border: none;
      height: fit-content;
      padding: 10px 35px;
      color: #fff;
      font-family: 'Cormorant', serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      border-radius: 200px;
    }
  }
}
