@import 'src/styles/variables';
@import 'src/styles/common';
.image {
  position: relative;
  height: fit-content;
  img {
    position: relative;
    width: 100%;
    height: 800px;
    object-position: center;
    object-fit: cover;
    top: 0;
    z-index: -1;
  }
  div {
    width: fit-content;
    height: 100%;
    position: absolute;
    justify-content: flex-end;
    gap: 48px;
    @extend .common-container;
    span {
      text-align: center;
      display: block;
      max-width: 478px;
      color: $char-coal;
      font-size: 70px;
      font-weight: 700;
      @media screen and (max-width: 700px) {
        color: white;
      }
    }
    button {
      background: $pink-kisses;
      border: none;
      height: fit-content;
      padding: 10px 35px;
      color: #fff;
      font-family: 'Cormorant', serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 21px;
      border-radius: 200px;
    }
  }
}

.catalogSection {
  @extend .common-container;
  gap: 64px;
  margin-top: 81px;
  .view {
    align-self: stretch;
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-wrap: wrap;
    gap: 103px;
    & > div {
      flex: 1 1 calc(100% / 3 - 103px / 2 * 3);
      @media screen and (max-width: 700px) {
        flex-basis: 100%;
      }
      display: flex;
      flex-direction: column;
      gap: 23px;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        border: 14px solid $rosey-cheek;
      }
      & > div {
        display: flex;
        flex-direction: column;
      }
      div > span {
        font-weight: 700;
        font-size: 20px;
        color: $char-coal;
      }
      & > span {
        font-weight: 700;
        font-size: 30px;
        color: $char-coal;
      }
    }
  }

  button {
    background: $pink-kisses;
    border: none;
    height: fit-content;
    padding: 10px 35px;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    border-radius: 200px;
  }
  &:last-child {
    padding-bottom: 84px;
  }
}
