@import 'src/styles/variables';
@import 'src/styles/common';
.container {
  @extend .common-container;
  align-items: start;
  div:first-child {
    margin-bottom: 124px;
  }
  div:nth-child(2) {
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 186px;
    span > span {
      color: $pink-kisses;
    }
    label:last-child {
      display: flex;
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      align-items: center;
      border-radius: 8px;
      padding: 10px;
      font-size: 14px;
      font-weight: 400;
      font-family: var(--font-vormorant);
      input {
        flex-grow: 1;
        display: block;
        height: 100%;
        border: none;
        outline: none;
        font-family: var(--font-vormorant);
      }
    }
  }
  .image {
    width: 100%;
    background: $in-house-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 74px 0;
    gap: 46px;
    margin-bottom: 114px;
    img {
      max-height: 500px;
      aspect-ratio: 2/1;
      object-fit: cover;
      object-position: center;
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    span {
      font-size: 64px;
      font-weight: 700;
    }
  }
  .descriptions {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 16px;
    span {
      font-size: 40px;
      font-weight: 700;
    }
  }
}
