@import 'src/styles/common';
.container {
  @extend .common-container;

  > .title {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 70px;
  }

  > hr {
    color: black;
    height: 1px;
    width: 50%;
  }

  .title + hr {
    margin-bottom: 124px;
  }

  > hr:last-child {
    margin-top: 112px;
  }
}
