.titleContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  .title {
  }
  .subTitle {
    font-family: var(--font-tangerine), serif;
  }
}
