@import '../../styles/common';
.container {
  @extend .common-container;

  > span {
    margin-bottom: 70px;
  }

  > hr {
    color: black;
    height: 1px;
    width: 50%;
  }

  > span + hr {
    margin-bottom: 124px;
  }

  > hr:last-child {
    margin-top: 112px;
  }
}
