@import 'styles/variables';
.footer {
  box-sizing: border-box;
  background-color: $in-house-color;
  border-top: 12px solid $rosey-cheek;
  display: flex;
  flex-direction: column;

  .primary {
    padding: 55px 25px;
    display: grid;
    grid-template-areas:
      'service  subscribe subscribe subscribe navigation'
      'service subscribe subscribe subscribe navigation';
    grid-column-gap: 100px;
    .service {
      grid-area: service;
      display: flex;
      flex-direction: column;
      gap: 14px;
      > h2 {
        font-size: 32px;
        margin-bottom: 16px;
      }
      > span {
        font-size: 26px;
      }
    }
    .subscribe {
      justify-self: center;
      > span {
        font-size: 32px;
        font-weight: 700;
      }
      grid-area: subscribe;
      > div {
        margin-top: 34px;

        display: flex;
        gap: 30px;
        > input {
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          border-radius: 8px;
          padding: 20px 24px;
          width: 500px;
          font-size: 14px;
          font-weight: 400;
          font-family: 'Cormorant', serif;
        }
        > button {
          background: $pink-kisses;
          border: none;
          height: fit-content;
          padding: 10px 35px;
          color: #fff;
          font-family: 'Cormorant', serif;
          font-weight: 700;
          font-size: 20px;
          line-height: 21px;
          border-radius: 200px;
        }
      }
      .social {
        margin-top: 72px;
        //margin-bottom: 84px;
        display: flex;
        flex-direction: column;
        gap: 34px;
        > span {
          font-size: 32px;
          font-weight: 700;
        }
        > div {
          display: flex;
          gap: 10px 56px;
          padding-left: 28px;
        }
      }
    }
    .navigation {
      grid-area: navigation;
      justify-self: end;
      > div {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: fit-content;
        > h2 {
          font-size: 32px;
          margin-bottom: 16px;
        }
        > span {
          font-size: 26px;
        }
      }
    }

    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      grid-template-areas:
        'service'
        'navigation'
        'subscribe';
      .navigation {
        justify-self: stretch;
      }
      .subscribe {
        > div {
          flex-direction: column;
          input {
            width: 100%;
          }
        }
      }
      .social {
        > div {
          flex-wrap: wrap;
          gap: 10px 40px !important;
          padding-left: 0 !important;
        }
      }
    }
  }
  .secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $rosey-cheek;
    padding: 13px 95px;
    gap: 13px;
    font-size: 22px;
    & > span:nth-child(3) {
      flex-grow: 2;
      text-align: center;
    }
    @media screen and (max-width: 700px) {
      flex-wrap: wrap;
      padding: 13px 25px;
      & > span {
        flex: 0 1 100%;
        text-align: left !important;
      }
    }
  }
}
